In [33]:
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [34]:
data = pd.read_csv('./songs.csv')

In [35]:
data.columns

Index(['track_id', 'bit_rate', 'comments', 'composer', 'date_created',
       'date_recorded', 'duration', 'favorites', 'genre_top', 'genres',
       'genres_all', 'information', 'interest', 'language_code', 'license',
       'listens', 'lyricist', 'number', 'publisher', 'tags', 'title'],
      dtype='object')

In [36]:
data

,track_id,bit_rate,comments,composer,date_created,date_recorded,duration,favorites,genre_top,genres,...,information,interest,language_code,license,listens,lyricist,number,publisher,tags,title
0,135,256000,1,NaN,2008-11-26 01:43:26,2008-11-26 00:00:00,837,0,Rock,"[45, 58]",...,NaN,2484,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1832,NaN,0,NaN,[],Father's Day
1,136,256000,1,NaN,2008-11-26 01:43:35,2008-11-26 00:00:00,509,0,Rock,"[45, 58]",...,NaN,1948,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1498,NaN,0,NaN,[],Peel Back The Mountain Sky
2,151,192000,0,NaN,2008-11-26 01:44:55,NaN,192,0,Rock,[25],...,NaN,701,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,148,NaN,4,NaN,[],Untitled 04
3,152,192000,0,NaN,2008-11-26 01:44:58,NaN,193,0,Rock,[25],...,NaN,637,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,98,NaN,11,NaN,[],Untitled 11
4,153,256000,0,Arc and Sender,2008-11-26 01:45:00,2008-11-26 00:00:00,405,5,Rock,[26],...,NaN,354,en,Attribution-NonCommercial-NoDerivatives (aka M...,424,NaN,2,NaN,[],Hundred-Year Flood
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17729,155063,320000,0,NaN,2017-03-24 19:40:43,NaN,283,3,Hip-Hop,"[21, 811]",...,NaN,1283,NaN,Attribution,1050,NaN,4,NaN,"['old school beats', '2017 free instrumentals'...",Been On
17730,155064,320000,0,NaN,2017-03-24 19:40:44,NaN,250,2,Hip-Hop,"[21, 811]",...,NaN,1077,NaN,Attribution,858,NaN,2,NaN,"['old school beats', '2017 free instrumentals'...",Send Me
17731,155065,320000,0,NaN,2017-03-24 19:40:45,NaN,219,3,Hip-Hop,"[21, 811]",...,NaN,1340,NaN,Attribution,1142,NaN,1,NaN,"['old school beats', '2017 free instrumentals'...",The Question
17732,155066,320000,0,NaN,2017-03-24 19:40:47,NaN,252,6,Hip-Hop,"[21, 811]",...,NaN,2065,NaN,Attribution,1474,NaN,3,NaN,"['old school beats', '2017 free instrumentals'...",Roy
17733,155247,320000,0,Fleslit,2017-03-29 01:40:28,NaN,211,3,Hip-Hop,"[21, 539, 811]",...,NaN,1379,NaN,Attribution,1025,NaN,0,Fleslit,"['instrumental trap beat', 'love', 'instrument...",Love In The Sky

In [37]:
del data['date_recorded']

In [38]:
del data['information']

In [39]:
del data['lyricist']

In [40]:
del data['publisher']

In [41]:
data

,track_id,bit_rate,comments,composer,date_created,duration,favorites,genre_top,genres,genres_all,interest,language_code,license,listens,number,tags,title
0,135,256000,1,NaN,2008-11-26 01:43:26,837,0,Rock,"[45, 58]","[58, 12, 45]",2484,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1832,0,[],Father's Day
1,136,256000,1,NaN,2008-11-26 01:43:35,509,0,Rock,"[45, 58]","[58, 12, 45]",1948,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1498,0,[],Peel Back The Mountain Sky
2,151,192000,0,NaN,2008-11-26 01:44:55,192,0,Rock,[25],"[25, 12]",701,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,148,4,[],Untitled 04
3,152,192000,0,NaN,2008-11-26 01:44:58,193,0,Rock,[25],"[25, 12]",637,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,98,11,[],Untitled 11
4,153,256000,0,Arc and Sender,2008-11-26 01:45:00,405,5,Rock,[26],"[26, 12]",354,en,Attribution-NonCommercial-NoDerivatives (aka M...,424,2,[],Hundred-Year Flood
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17729,155063,320000,0,NaN,2017-03-24 19:40:43,283,3,Hip-Hop,"[21, 811]","[811, 21]",1283,NaN,Attribution,1050,4,"['old school beats', '2017 free instrumentals'...",Been On
17730,155064,320000,0,NaN,2017-03-24 19:40:44,250,2,Hip-Hop,"[21, 811]","[811, 21]",1077,NaN,Attribution,858,2,"['old school beats', '2017 free instrumentals'...",Send Me
17731,155065,320000,0,NaN,2017-03-24 19:40:45,219,3,Hip-Hop,"[21, 811]","[811, 21]",1340,NaN,Attribution,1142,1,"['old school beats', '2017 free instrumentals'...",The Question
17732,155066,320000,0,NaN,2017-03-24 19:40:47,252,6,Hip-Hop,"[21, 811]","[811, 21]",2065,NaN,Attribution,1474,3,"['old school beats', '2017 free instrumentals'...",Roy
17733,155247,320000,0,Fleslit,2017-03-29 01:40:28,211,3,Hip-Hop,"[21, 539, 811]","[811, 539, 21]",1379,NaN,Attribution,1025,0,"['instrumental trap beat', 'love', 'instrument...",Love In The Sky

In [42]:
del data['composer']

In [43]:
before_rows = data.shape[0]
print(before_rows)

In [45]:
data = data.dropna()

In [46]:
after_rows = data.shape[0]
print(after_rows)

4070

In [47]:
data

,track_id,bit_rate,comments,date_created,duration,favorites,genre_top,genres,genres_all,interest,language_code,license,listens,number,tags,title
0,135,256000,1,2008-11-26 01:43:26,837,0,Rock,"[45, 58]","[58, 12, 45]",2484,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1832,0,[],Father's Day
1,136,256000,1,2008-11-26 01:43:35,509,0,Rock,"[45, 58]","[58, 12, 45]",1948,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1498,0,[],Peel Back The Mountain Sky
2,151,192000,0,2008-11-26 01:44:55,192,0,Rock,[25],"[25, 12]",701,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,148,4,[],Untitled 04
3,152,192000,0,2008-11-26 01:44:58,193,0,Rock,[25],"[25, 12]",637,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,98,11,[],Untitled 11
4,153,256000,0,2008-11-26 01:45:00,405,5,Rock,[26],"[26, 12]",354,en,Attribution-NonCommercial-NoDerivatives (aka M...,424,2,[],Hundred-Year Flood
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17700,152541,320000,0,2017-02-15 09:58:50,196,1,Hip-Hop,"[21, 100]","[100, 21]",1119,en,Attribution-ShareAlike,828,9,['hip hop'],Do it for Me
17701,152542,320000,0,2017-02-15 09:58:52,157,2,Hip-Hop,"[21, 100]","[100, 21]",1222,en,Attribution-ShareAlike,1002,10,['hip hop'],Good lookin
17702,152543,320000,0,2017-02-15 04:58:53,222,2,Hip-Hop,"[21, 100]","[100, 21]",1781,en,Attribution-ShareAlike,1323,11,['hip hop'],BITCHEZ
17703,152544,320000,0,2017-02-15 09:58:55,189,1,Hip-Hop,"[21, 100]","[100, 21]",1245,en,Attribution-ShareAlike,1012,12,['hip hop'],Looking at my blunt(like the Holy Grail)
17704,152545,320000,0,2017-02-15 09:58:56,216,4,Hip-Hop,"[21, 100]","[100, 21]",2269,en,Attribution-ShareAlike,1654,13,['hip hop'],Where the Sunshine Goes

In [48]:
del data['tags']

In [50]:
clean_data = data.copy()
clean_data['isRock'] = (clean_data['genre_top'] == 'Rock')*1
print(clean_data['isRock'])

0        1
1        1
2        1
3        1
4        1
        ..
17700    0
17701    0
17702    0
17703    0
17704    0
Name: isRock, Length: 4070, dtype: int64

In [52]:
y=clean_data[['isRock']]

In [57]:
clean_data['genre_top']

0           Rock
1           Rock
2           Rock
3           Rock
4           Rock
          ...
17700    Hip-Hop
17701    Hip-Hop
17702    Hip-Hop
17703    Hip-Hop
17704    Hip-Hop
Name: genre_top, Length: 4070, dtype: object

In [58]:
y.head()

   isRock
0       1
1       1
2       1
3       1
4       1

In [91]:
genre_features = ['bit_rate', 'duration', 'listens']

In [92]:
X = clean_data[genre_features].copy()

In [93]:
X.columns

Index(['bit_rate', 'duration', 'listens'], dtype='object')

In [94]:
y.columns

Index(['isRock'], dtype='object')

In [95]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=.33, random_state=324)

In [96]:
rock_classifier = DecisionTreeClassifier(max_leaf_nodes = 10, random_state = 0)
rock_classifier.fit(X_train, y_train)

DecisionTreeClassifier(max_leaf_nodes=10, random_state=0)

In [97]:
type(rock_classifier)

sklearn.tree._classes.DecisionTreeClassifier

In [99]:
predictions = rock_classifier.predict(X_test)

In [100]:
predictions[:10]

array([1, 1, 1, 1, 1, 0, 1, 1, 1, 1])

In [101]:
y_test['isRock'][:10]

159     1
9437    1
347     1
3132    1
806     1
2195    1
1821    1
871     1
9597    1
1202    1
Name: isRock, dtype: int64

In [102]:
accuracy_score(y_true = y_test, y_pred = predictions)

0.8616071428571429